/BootLoader.class
/CompareTo.class
/GFG.class
/Job.class
/Partition.class
/Client.class
/FileManager.class
/NetworkManager.class
/Server.class
/CaesarCipher.class
/fileManager.class
/Job$status.class
/FirstComeFirsrServe.class
/MemoryManager.class
/ProcessManager.class
/TestClass.class
